div#energy-types
    p
        span.caption MSN: {{energyTypes[index].MSN}}
    p
        span.caption Value: {{energyTypes[index].Value}}
    p
        span.caption Description: {{energyTypes[index].Description}}
    p
        span.caption Unit: {{energyTypes[index].Unit}}
    p
        span.caption YearMonth: {{energyTypes[index].YYYYMM}}