p This is renewables by year

p {{byYearData}}

input(type="number", data-ng-model="userYearInput")

button.btn.btn-primary(ng-click="getRenewableByYear()") Get Renewable by Year

hr

elf-renewable-by-year