div#simple-format
    p
        span.caption Solar: {{simpleFormat[index].solar}}
    p
        span.caption Geo: {{simpleFormat[index].geo}}
    p
        span.caption Other: {{simpleFormat[index].other}}
    p
        span.caption Wind: {{simpleFormat[index].wind}}
    p
        span.caption Liquid: {{simpleFormat[index].liquid}}
    p
        span.caption Wood: {{simpleFormat[index].wood}}
    p
        span.caption Hydro: {{simpleFormat[index].hydro}}