div#renewable
    p
        span.caption Solar: {{mainController.renewable[mainController.index]["Solar (quadrillion Btu)"]}}
    p
        span.caption Geothermal: {{mainController.renewable[mainController.index]["Geothermal (quadrillion Btu)"]}}'
    p
        span.caption Other biomass: {{mainController.renewable[mainController.index]["Other biomass (quadrillion Btu)"]}}
    p
        span.caption Wind power: {{mainController.renewable[mainController.index]["Wind power (quadrillion Btu)"]}}
    p
        span.caption Liquid biofuels: {{mainController.renewable[mainController.index]["Liquid biofuels (quadrillion Btu)"]}}
    p
        span.caption Wood biomass: {{mainController.renewable[mainController.index]["Wood biomass (quadrillion Btu)"]}}
    p
        span.caption Hydropower: {{mainController.renewable[mainController.index]["Hydropower (quadrillion Btu)"]}}