div#renewable
    p
        span.caption First: {{renewable[index]["Year"]}}
    p
        span.caption Solar: {{renewable[index]["Solar (quadrillion Btu)"]}}
    p
        span.caption Geothermal: {{renewable[index]["Geothermal (quadrillion Btu)"]}}
    p
        span.caption Other biomass: {{renewable[index]["Other biomass (quadrillion Btu)"]}}
    p
        span.caption Wind power: {{renewable[index]["Wind power (quadrillion Btu)"]}}
    p
        span.caption Liquid biofuels: {{renewable[index]["Liquid biofuels (quadrillion Btu)"]}}
    p
        span.caption Wood biomass: {{renewable[index]["Wood biomass (quadrillion Btu)"]}}
    p
        span.caption Hydropower: {{renewable[index]["Hydropower (quadrillion Btu)"]}}