div#simple-format
    p
        span.caption Geo: {{simpleFormat[index].geo}}
    p
        span.caption Solar: {{simpleFormat[index].solar}}
    p
        span.caption Wind: {{simpleFormat[index].wind}}